
{% extends "base/base.html" %}}
{% load staticfiles %}
{% block content %}
<div id="bgDivImage">
	<img src="/static/img/foreHead.jpg" id="bgFrontImage">
	<content class="headFrontImage">
		<div class="container">
			
			<!--
			HTML KALIAN YG BAGIAN BACKGROUND GAMBAR MASUKIN DISINI
			
			PERHATIAN, JANGAN bikin class="container" dalam "container" lagi
			-->
			
				  
			{% load staticfiles %}
			{% load static %}
				<div id = "over" class="text-center">
					<img class="image-fluid"  src = "{% static 'HalProfile/img/pict.jpg' %}" style= "max-width:20%; max-height: 900px;  border-radius: 50%; margin-top: 20px">
					<h2 style="color:white; text-align: center;"> <b>{{nama}} </b> </h2>
				</div>      
				
			  
			
			
		</div>
	</content>
</div>


<div class="container" id="bgContent">
	<content >
		
		<!--
			
			HTML KALIAN YG BAGIAN BACKGROUND PUTIH
			
			PERHATIAN, JANGAN bikin class="container" dalam "container" lagi
			
			
			
			
			-->
			<div class="row">
				<br></br>
				
				<div class="col-sm-12" >
				  <br></br>
				  <h2>Statistics</h2>
				  <hr/>
				  
				  <div class="row">
					  <div class="col-sm-6" >
						<br></br>
						
						<p><span style="font-weight: bold; margin: 50px 50px 50px 0">Friends</span> {{total_friend}} people</p>
						<h6 style="font-weight: bold; margin: 50PX 50PX 50PX 0">Latest Post 
							<br></br>	
							{% if last_update %}
								
									<div class="flex-item">
										<div class="to-do-list">
											<div class="image-and-username">
												<p>
												<img src="{% static 'HalProfile/img/pict.jpg' %}" width='50px' height='50px' align="middle">
												<b>
												{{author}}
												</b>
												</p>
											</div>
											<div class="to-do-list-description">
												{{last_update.status}}
											</div>
											<div class="to-do-list-date-added">
												<font color='gray'>
												{{last_update.created_date}}
												</font>
											</div>
											<form id="form-{{data.id}}" method="post" action="{% url 'update:remove_status' %}">
												{% csrf_token %}
												<input type="hidden" name="flag" value="{{data.id}}"/>
												
											</form>
										</div>
									</div>
								
							{% else %}
							<div class="alert alert-danger text-center">
								<strong>Oops!</strong> Tidak ada data.
							</div>
							{% endif %}
						</h6>
					  </div>
					  <div class="col-sm-6" >
						  <br></br>
						  
						<p><span style="font-weight: bold; margin: 50PX 50PX 50px 0">Feed</span>{{total_feed}}</p>
					  </div>
				  </div>
	  
				</hr>
				</div>
			  </div>
	</content>
</div>

{% endblock %}  