{% load staticfiles %}

<nav class="navbar navbar-default navbar-expand-lg navbar-dark fixed-top ">
        <img class="navbar-brand" src="{% static 'home/logoInvert.png' %}" href="#">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/update/">Status</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/HalProfile/">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/friend/">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statistic/">Stats</a>
            </li>
          </ul>
        </div>
      </nav>