{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Ling-in">
    <meta name="author" content="{{author}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> <!-- bootstrap csss -->
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'headerfooter.css' %}" />
    <title> 
        {% block title %}{% endblock %}
    </title>
</head>

<body>
	<header>
		{% include "partials/header.html" %}
	</header>
	<div class="base" >
		{% block content %}
					<!-- content goes here -->
		{% endblock %}

	</div>
	<footer >
		<!-- TODO Block Footer dan include footer.html -->
		{% block footer %}
		{% include "partials/footer.html" %}
		{% endblock %}
	</footer>

    <!-- Jquery n Bootstrap Script -->
    
</body>
</html>
