

{% extends "base/base.html" %}}

{% block content %}


<div id="bgDivImage">
  <img src="/static/img/foreHead.jpg" id="bgFrontImage">
  <content class="headFrontImage">
    <div class="container">
      

{% load staticfiles %}
{% load static %}
    <div id = "over" class="text-center">
        <img class="image-fluid"  src = "{% static 'HalProfile/img/pict.jpg' %}" style= "max-width:18%; max-height: 500px;  border-radius: 50%; margin-top: 20px">
        <h2 style="color:white; text-align: center;"><b>{{nama}}</b></h2>
    </div>      
      
    </div>
  </content>
</div>



<div class="container" id="bgContent">
  <content >
  <hr style="border: 1px solid orange" />​

      <h2 style="color:black; text-align: center;"><b>About Us</b></h2>

      <div class="row">
          <table style="width:60%; margin-top: 5px; ;" align= "center";>
          <style>
            table, th, td {
              color: black;
              height: 35px;
              align-content: center;

            }
          </style>
              <tr >
              <th style="width: 30%">Birthday</th>
              <td><b>{{birthday}}</b></td>
              </tr>

              <tr>
              <th >Gender</th>
              <td ><b>{{gender}}</b></td>
              </tr>
              
              <tr>
              <th >Expertise</th>
              <td style = "align = "left">
                <ul>
                {% for ii in expertise %}
                  <li1 style = " padding: 5px; background: orange; color: white; border-radius: 30px; text-align: left; margin-right: 10px">{{ ii }} </li1>
                  {% endfor %}
                </ul>

                </td>
              </tr>

              <tr>
              <th >Description</th>
              <td ><b>{{description}}</b></td>
              </tr>

              <tr>
              <th >Email</th>
              <td ><b>{{email}}</b></td>
              </tr>
          </table>
         
      </div>
       <hr style="border: 1px solid orange">​
  </div>

  </content>
</div>

{% endblock %}  