
	<style>
    /* Stackoverflow preview fix, please ignore */
    .navbar{
      background-color:#040707;
    }
    .navbar-nav {
      flex-direction: row;
    }
    .navbar-brand{
      width: 100px;
    }
    .nav-link {
      
      padding-right: .5rem !important;
      padding-left: .5rem !important;
    }
    .navbar-item{
      padding-right: .7rem;
    }
   
    .navbar-nav > li{
      padding-left:10px;
      padding-right:10px;
    }
    .navbar-item{
      color: white
    }
    ul.navbar-nav a:hover { 
      background-color:orange;
      color: white !important;
      border-radius: 20px 20px 20px 0px;
    }
    
    
    .card-title{
      margin: 8px;
      text-align: center;
      
    }
  </style>