


{% extends "base/base.html" %}}

{% block content %}
<div id="bgDivImage">
	<img src="/static/img/foreHead.jpg" id="bgFrontImage">
	<content class="headFrontImage">
		<div class="container">
			
			<!--
			
			HTML KALIAN YG BAGIAN BACKGROUND GAMBAR MASUKIN DISINI
			
			PERHATIAN, JANGAN bikin class="container" dalam "container" lagi
			
			
			
			
			-->
			<div class="content-center">
	
				<h3>Add Friend</h3>
				
				<form id="formt" method="POST" action="{% url 'friend:add_friend' %}">
					<div class="custom-flex">
						{% csrf_token %}
						{{ add_friend_form.non_field_errors}}
						
						  {% for hidden_field in add_friend_form.hidden_fields %}
							{{ hidden_field.errors }}
							{{ hidden_field }}
						  {% endfor %}
						  
						{% for field in add_friend_form.visible_fields %}
						
							<div class="form-group">
								{{ field.label_tag}}
								{{ field.errors }}
								{{ field }}
								{{ field.help_text }}
							</div>
							{% endfor %}
			
						
						<div class="custom-flex-item" id="button">
							<input id="submit" type="submit" class="btn btn-lg btn-info" value="Submit">
						</div>
						
					</div>
				</form>
				
			</div>
			
		</div>
	</content>
</div>


<div class="container" id="bgContent">
	<content >
	
<div class="headContent">
<section>
	<h3>List Friend</h3>

	<table class="table table-hover">
		<thead>
		  <tr>
			<th>Name</th>
			<th>HerokuApp</th>
		  </tr>
		</thead>
		{% if friend %}
			{% for data in friend %}
			<tbody>
			  <tr>
				<td>{{data.name}}</td>
				<td><a href="{{data.url}}">{{data.url}}</a></td>
			  </tr>
			</tbody>
			{% endfor %}
		{% else %}
			<div class="alert alert-danger text-center">
				<strong>Oops!</strong> kamu tidak memiliki teman.
			</div>
		{% endif %}
	</table>
</section>

</div>
	
	</content>
</div>

{% endblock %}  