<div class="content-center">
	
	<h3>Add Friend</h3>
	<form >
		<div class="custom-flex">
			<div class="form-group">
			  <label for="usr">Name:</label>
			  <input type="text" class="form-control" id="usr">
			</div>
			<div class="form-group">
			  <label for="pwd">Password:</label>
			  <input type="password" class="form-control" id="pwd">
			</div>
		</div>
	</form>
	
</div>