body{
	margin-top:40px;
	
}
header{

	
}



.base{
	
	resize:none;
	position: relative;
}

.content-center{
	padding-top:20px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:50%
	z-index:10;

}

.bg .container-fluid{
	z-index:0;
}

.headFrontImage{
	color:white;
	height:400px;
	overflow:hidden;
}
.headContent{
	height:auto;
}

#bgDivImage{
	/*
	background:rgba(1,1,1,0);
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
	*/
	z-index:2;
}
#bgFrontImage{
	width:100%;
	opacity:0.9;
	min-height:400px;
}


#bgContent{
	z-index:3;
	height:auto;
}

