body{
	margin-top:40px;
	
}
header{

	
}



.bg .container-fluid{
	z-index:0;
}




.headContent{
	height:auto;
}



#bgContent{
	z-index:3;
	height:auto;
}

#bgDivImage{
	position:relative;
	overflow:hidden;
	
}
#bgFrontImage{
	top:10px;
	z-index:-3;
}
.headFrontImage{
	top: 40px;
	margin-top:20px;
	z-index:5;
	color:white;
	position:absolute;
	width:100%;
}


@media screen and (min-width: 768px) {
	#bgDivImage{
		
		z-index:2;
	}
	#bgFrontImage{
		width:100%;
		
		min-height:400px;
	}
	.headFrontImage{
		
		min-height:400px;
		
	}
	
	.custom-flex{
	
	}

	.custom-flex-item{
		
	}
	
	.container{
		width:75%;
	}
	
	
}
@media screen and (max-width: 768px) {
	#bgDivImage{
		
		
	}
	#bgFrontImage{
		width:100%;
		min-height:175px !important;
		
	}
	.headFrontImage{
		
		
	}
	
	.custom-flex{
		display:flex;
		flex-direction:row;	
		align-items: center;
		justify-content:space-evenly;
	}

	.custtom-flex-item{
		flex-basis:20%;
	}


	#button{
		margin-bottom:-10px;
	}
	
	.container{
		width:75%;
	}
}