
{% extends "base/base.html" %}}

{% block content %}
<div id="bgDivImage">
	<img src="/static/img/foreHead.jpg" id="bgFrontImage">
	<content class="headFrontImage">
		<div class="container">
			
			<!--
			
			HTML KALIAN YG BAGIAN BACKGROUND GAMBAR MASUKIN DISINI
			
			PERHATIAN, JANGAN bikin class="container" dalam "container" lagi
			
			-->
			
			
		</div>
	</content>
</div>


<div class="container" id="bgContent">
	<content >
	
		<!--
			
			HTML KALIAN YG BAGIAN BACKGROUND PUTIH
			
			PERHATIAN, JANGAN bikin class="container" dalam "container" lagi
		
		 	
			-->
	
	</content>
</div>

{% endblock %}  