<div class="content-center">
	
	<h3>Test</h3>
	<font color="black">
		<div class="custom-flex">
			<!--{% csrf_token %}
                {{ add_friend_form }}
			<div class="custom-flex-item" id="button">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
			-->
			<section name="input-list" id="input-list">
			<div class="container">
				<form id="form" method="POST" action="{% url 'update:update_status' %}">
					{% csrf_token %}
					{{ update_form }}
					<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
					<br>
				</form>
			</div>
			</section>
		</div>
	</font>
	
</div>