
{% extends "base/base.html" %}}
{% load staticfiles %}
{% block content %}
<div id="bgDivImage">
	<img src="/static/img/foreHead.jpg" id="bgFrontImage">
	<content class="headFrontImage">
		<div class="container">
			

			


			<form id="form" method="POST" action="{% url 'update:update_status' %}">
					{% csrf_token %}
					{{ update_form }}
					<div class="pull-right">
						
					   
					<input id="submit" type="submit" class="btn btn-lg input-lg btn-info" value="Submit">
					</div>
					<br>
				</form>
			
			
		</div>
	</content>
</div>


<div class="container" id="bgContent">
	<content >
	
		<div class="flex">
            {% if update %}
                {% for data in update %}
                    <div class="flex-item">
                        <div class="to-do-list">
							<div class="image-and-username">
								<p>
								<img class="image-fluid"  src = "{% static 'HalProfile/img/pict.jpg' %}" style= "max-width:70px; max-height: 70px;  border-radius: 50%">
								<b>
								{{nama}}
								</b>
								</p>
							</div>
							<div class="to-do-list-description">
                                {{data.status}}
                            </div>
                            <div class="to-do-list-date-added">
								<font color='gray'>
                                {{data.created_date}}
								</font>
                            </div>
							<form id="form-{{data.id}}" method="post" action="{% url 'update:remove_status' %}">
								{% csrf_token %}
								<input type="hidden" name="flag" value="{{data.id}}"/>
								<input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="to-do-list-delete">
							</form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data.
            </div>
            {% endif %}
        </div>
	
	</content>
</div>

{% endblock %}  