{% extends "layout/base2.html" %}

{% block content %}
<section name="input-list" id="input-list">
			<div class="container">
				<form id="form" method="POST" action="{% url 'update:update_status' %}">
					{% csrf_token %}
					{{ update_form }}
					<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
					<br>
				</form>
			</div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <div class="flex">
            {% if update %}
                {% for data in update %}
                    <div class="flex-item">
                        <div class="to-do-list">
							<div class="image-and-username">
								<p>
								<img src="https://pbs.twimg.com/media/CdWxbnvW8AAAvmi.jpg" width='50px' height='50px' align="middle">
								<b>
								{{author}}
								</b>
								</p>
							</div>
							<div class="to-do-list-description">
                                {{data.status}}
                            </div>
                            <div class="to-do-list-date-added">
								<font color='gray'>
                                {{data.created_date}}
								</font>
                            </div>
							<form id="form-{{data.id}}" method="post" action="{% url 'update:remove_status' %}">
								{% csrf_token %}
								<input type="hidden" name="flag" value="{{data.id}}"/>
								<input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="to-do-list-delete">
							</form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data.
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}