{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Ling-in">
    <meta name="author" content="{{author}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title> 
        {% block title %} Ling-in add friend{% endblock %}
    </title>
</head>

<body>
	<header>
				{% include "partials/header.html" %}
	</header>
	<div class="base" >
		
		<div id="bgDivImage">
			<img src="/static/img/foreHead.jpg" id="bgFrontImage">
			<content class="headFrontImage">
				<div class="container">
					{% include "head.html" %}
				</div>
			</content>
		</div>
		<div class="container" id="bgContent">
			<content >
				
					{% block content %}
					<!-- content goes here -->
					{% endblock %}
				
			</content>
		</div>
		
	</div>
	<footer>
		<!-- TODO Block Footer dan include footer.html -->
		{% block footer %}
		{% include "partials/footer.html" %}
		{% endblock %}
	</footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
